@using CourseAssignmentManagmentWebsite.Models
@model CourseDetailViewModel

@{
    ViewBag.Title = Model.Course.Name;
    int i = 0;
}

<div class="jumbotron">
    <h1>@Model.Course.Name</h1>
    <h3>@Model.Course.Id</h3>
</div>
<div class="row">
    <h1 class="col-md-10">Assignments</h1>
    @if(User.IsInRole("professor"))
    {
        <a class="margin-top-20 col-md-2 btn btn-primary" href="@Url.Action("Create", "Assignments", new { Model.Course.Id })">Add Assignment</a>
    }
</div>
<hr/>
<div class="row">
    @if(Model.Assignments.Any())
    {
        foreach(var assign in Model.Assignments)
        {
            <div class="well col-md-12">
                <div class="col-md-10">
                    <h2>Assignment @((++i).ToString())</h2>
                </div>
                <div class="col-md-2">
                    <a href="@Url.Action("Index", "Assignments", new { assign.First.Id })" class="btn btn-block btn-default">View solutions</a>
                </div>
                <div class="col-md-2">
                    <a href="@Url.Action("Forum", "Assignments", new { assign.First.Id })" class="btn btn-block btn-default">View forum</a>
                </div>
            </div>
        }
    }
    else
    {
        <h4 class="col-md-offset-1">There are no assignments to this course....yet....</h4>
    }
</div>
